.bp-C-Footer_container{
    @include bp-U-small-heading;
    
    width: 80%;
    padding: $padding-small $padding-none;
    margin: $margin-extra-small $margin-none; 
    display: block;  

    a{
        display: inline-block;
        text-decoration: none;
        color: black;
        text-align: center;

        &:visited{
            color: black;
            text-decoration: none;
        }
    }

    .dp-C-Footer_icon{
        height: 20px;
        width: 20px;
        padding-right: $padding-extra-small;
    }
}