.bp-C-Footer_container{
    @include bp-U-small-heading;
    background-color: $pink;
    width: 100%;
    padding: $padding-small $padding-none;
    margin:  $margin-none; 
    
    a{
        display: inline-block;
        text-decoration: none;
        color: $white;
        text-align: center;
        font-size: small;

        &:hover{
            color: $white;
            text-decoration: underline;
            text-underline-offset: 1rem;
        }
    }

    .dp-C-Footer_icon{
        height: 1rem;
        width: 1rem;
        color: $white;
        padding-right: $padding-extra-small
    }
}