.bp-C-Landing_container{
    @include bp-U-small-heading;
    
    width: inherit;
    padding: $padding-medium $padding-extra-small;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    @media screen and (min-width: $min-breakpoint-large) and (max-width: $max-breakpoint-extra-large) and (orientation: portrait){
        display: block;
       // max-height: 650px;
        width: $min-breakpoint-medium;
        padding-bottom: $padding-extra-large;
    }

    @media screen and (min-width: $min-breakpoint-large) and (max-width: $max-breakpoint-extra-large) and (orientation: landscape){
      //  max-height: 650px;
        width: $min-breakpoint-large;
        padding-bottom: $padding-extra-large;
    }

    @media screen and (min-width: $min-breakpoint-extra-small) and (max-width: $max-breakpoint-large){
        display: block;
      //  max-height: 500px;
        width: $min-breakpoint-extra-small;
        padding-bottom: $padding-extra-large;
    }

    @media screen and (max-width: $max-breakpoint-extra-small){
        display: block;
      //  max-height: 667px;
    }

    .bp-C-Landing_imgContainer{
        height: inherit;
        justify-content: center;
        padding-right: $padding-small;
        display: inline-block;
        width: 33%;

        @media screen and (max-width: $max-breakpoint-extra-large) {
            width: 90%;
            padding-bottom: $padding-small;
            display: block;
        }

        .bp-C-Landing_img{
            height: auto;
            width: 100%;
            border-radius: 66%;
        }
    }

    .bp-C-Landing_description{
        height: auto;
        padding-left: $padding-small;
        vertical-align: middle;
        display: inline-block;
        width: 67%;

        @media screen and (max-width: $max-breakpoint-large) {
            width: 90%;
            display: block;
        }
    }
}