.bp-C-Landing_container{
    height: 50%;
    width: inherit;
    padding: $padding-medium $padding-small;

    .bp-C-Landing_imgContainer{
        height: inherit;
        justify-content: center;
        padding-right: $padding-small;

        .bp-C-Landing_img{
            height: auto;
            width: 100%;
            border-radius: 66%;
        }
    }

    .bp-C-Landing_description{
        height: 15rem;
        padding-left: $padding-small;
        vertical-align: middle;
    }
}