@import '../utilities/utilities';
@import '../typography/typography.scss';

.bp-C-Navbar_container{
    height: 20%;
    margin: $margin-small $margin-small;

    .bp-C-SideNavbar_list{
        list-style: none;
        margin: $margin-none;
        padding: $padding-extra-small $padding-none;
        .bp-C-SideNavbar_list_items{
            padding: $padding-extra-small $padding-extra-small;
            font-family: $font-family;
        }
    }

    .bp-C-TopNavbar_list{
        list-style: none;
        margin: $margin-none;
        padding: $padding-none;

        .bp-C-TopNavbar_list_items{
            padding: $padding-extra-small $padding-extra-small;
            font-family: $font-family;
            font-size: $small-heading-text-size;
            
            @media screen and (max-width: $max-breakpoint-large) {
                display: none;
            }
            a{
                color: black;
                text-decoration: none;

                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }

    @media screen and (min-width: $min-breakpoint-large) {
        .bp-C-Hamburger_icon{
            display: none;
        }
    }

}