$font-family: Verdana, Geneva, Tahoma, sans-serif;
$small-heading-text-size: 1rem;

//padding for device size
$padding-none: 0px;
$padding-top-large: 0.8rem;
$padding-left-large: 1rem;

//margins
$margin-none: none;